#container{
    height: 300px;
    display: flex;
    align-items: end;
    
}
body{
    background-color: rgb(36, 35, 35);
}
.box{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--bs-body-font-family);
}
.bar{
    width: 10px;
    background: black;
    margin: 4px;
}
.textstyle{
    color: white;
    font-size: 1.1rem;
    font-weight: 300;
    max-width: 900px;
}
.heading{
    margin-top: 10px;
    display: flex;
    align-items: center;
    color: white;
}
